openapi: 3.0.0
info:
  contact:
    email: developers@cashfree.com
    name: API Support
    url: https://discord.com/invite/QdZkNSxXsB
  description: "Cashfree's Payment Gateway APIs provide developers with a streamlined\
    \ pathway to integrate advanced payment processing capabilities into their applications,\
    \ platforms and websites."
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Cashfree Payment Gateway APIs
  version: 2026-01-01
externalDocs:
  description: This url will have the information of all the APIs.
  url: https://api.cashfree.com/pg
servers:
- description: Sandbox server.
  url: https://sandbox.cashfree.com/pg
- description: Production server.
  url: https://api.cashfree.com/pg
tags:
- description: Collection of APIs to handle orders.
  name: Orders
- description: Collection of APIs to handle payments.
  name: Payments
- description: Collection of APIs to handle refunds.
  name: Refunds
- description: Collection of APIs to handle settlements.
  name: Settlements
- description: Collection of APIs to handle payment links.
  name: Payment Links
- description: Collection of APIs to use Cashfree's token Vault. This helps you save
    cards and tokenize them in a PCI complaint manner. We support creation of network
    tokens which can be used across acquiring banks.
  name: Token Vault
- description: Collection of APIs to manage softPOS' agent and order.
  name: softPOS
- description: Collection of APIs to handle offers.
  name: Offers
- description: "Collection of APIs to check eligibile entities - payment methods,\
    \ offer, affordibility."
  name: Eligibility
- description: Collection of APIs to handle settlements.
  name: Settlement Reconciliation
- description: Collection of APIs to handle reconciliation.
  name: PG Reconciliation
- description: Collection of APIs to handle customers.
  name: Customers
- description: Collection of APIs to handle Easy-Split.
  name: Easy-Split
- description: Collection of APIs to handle simulation.
  name: Simulation
- description: Collection of APIs to handle disputes.
  name: Disputes
- description: Collection of APIs for utility requirement.
  name: Utilities
- description: Collection of APIs for managing downtimes.
  name: Downtimes
paths:
  /customers:
    post:
      deprecated: false
      description: "Use this API to register a customer in Cashfree's system before\
        \ initiating payments, subscriptions, tokenisation, or other customer-linked\
        \ actions. It creates a reusable *customer profile* and returns a unique identifier\
        \ for future transactions."
      operationId: PGCreateCustomer
      parameters:
      - description: API version to be used. Format is in YYYY-MM-DD.
        example: 2026-01-01
        explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          default: 2026-01-01
          description: API version to be used.
          type: string
        style: simple
        x-ignore: true
      - description: Request ID for the API call. Can be used to resolve tech issues.
          Communicate this in your tech related queries to Cashfree.
        example: 4dfb9780-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          type: string
        style: simple
      - description: |
          An idempotency key is a unique identifier you include with your API call.
          If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
        example: 47bf8872-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          format: UUID
          type: string
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/CreateCustomerRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerEntity"
          description: OK
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
          description: Bad request error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationError"
          description: Authentication Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError404"
          description: Resource Not found.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError409"
          description: Resource already present.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdempotencyError"
          description: Idempotency error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
          description: Rate Limit Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      summary: Create Customer at Cashfree
      tags:
      - Customers
  /customers/{customer_id}/instruments?instrument_type=card:
    get:
      deprecated: false
      description: "Use this API to fetch all saved cards stored for the customer\
        \ in Cashfree’s [Token Vault](https://www.cashfree.com/docs/payments/features/token-vault)."
      operationId: PGCustomerFetchInstruments
      parameters:
      - description: API version to be used. Format is in YYYY-MM-DD.
        example: 2026-01-01
        explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          default: 2026-01-01
          description: API version to be used.
          type: string
        style: simple
        x-ignore: true
      - description: Request ID for the API call. Can be used to resolve tech issues.
          Communicate this in your tech related queries to Cashfree.
        example: 4dfb9780-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          type: string
        style: simple
      - description: "The customer ID provided by the merchant during the [Create\
          \ Order API](https://www.cashfree.com/docs/api-reference/payments/latest/orders/create)\
          \ call, used to save cards for the customer."
        example: your-customer-id
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          An idempotency key is a unique identifier you include with your API call.
          If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
        example: 47bf8872-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          format: UUID
          type: string
        style: simple
      - description: Payment mode or type of saved instrument.
        example: card
        explode: true
        in: query
        name: instrument_type
        required: true
        schema:
          enum:
          - card
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                fetch_all_saved_cards_example:
                  $ref: "#/components/examples/fetch_all_saved_cards_example"
              schema:
                items:
                  $ref: "#/components/schemas/InstrumentEntityForAllSavedCard"
                type: array
          description: "Contains list of all saved cards for the customer. Merchants\
            \ are advised to filter out saved cards basis token expiry sent in API\
            \ response, to only show active saved cards/tokens on their checkout."
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
          description: Bad request error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationError"
          description: Authentication Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError404"
          description: Resource Not found.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError409"
          description: Resource already present.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdempotencyError"
          description: Idempotency error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
          description: Rate Limit Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      summary: Fetch All Saved Card Instrument
      tags:
      - Token Vault
  /customers/{customer_id}/instruments/{instrument_id}:
    delete:
      deprecated: false
      description: "Use this API to delete a specific saved card stored for the customer\
        \ in Cashfree’s [Token Vault](https://www.cashfree.com/docs/payments/features/token-vault)."
      operationId: PGCustomerDeleteInstrument
      parameters:
      - description: API version to be used. Format is in YYYY-MM-DD.
        example: 2026-01-01
        explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          default: 2026-01-01
          description: API version to be used.
          type: string
        style: simple
        x-ignore: true
      - description: Request ID for the API call. Can be used to resolve tech issues.
          Communicate this in your tech related queries to Cashfree.
        example: 4dfb9780-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          type: string
        style: simple
      - description: "The customer ID provided by the merchant during the [Create\
          \ Order API](https://www.cashfree.com/docs/api-reference/payments/latest/orders/create)\
          \ call, used to save cards for the customer."
        example: your-customer-id
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          An idempotency key is a unique identifier you include with your API call.
          If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
        example: 47bf8872-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          format: UUID
          type: string
        style: simple
      - description: The instrument_id which needs to be deleted.
        example: some-instrument-id
        explode: false
        in: path
        name: instrument_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedInstrumentEntity"
          description: Delete saved card instrument object.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
          description: Bad request error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationError"
          description: Authentication Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError404"
          description: Resource Not found.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError409"
          description: Resource already present.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdempotencyError"
          description: Idempotency error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
          description: Rate Limit Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError502"
          description: Bank related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      summary: Delete Saved Card Instrument
      tags:
      - Token Vault
    get:
      deprecated: false
      description: "Use this API to fetch a specific saved card stored for the customer\
        \ in Cashfree’s [Token Vault](https://www.cashfree.com/docs/payments/features/token-vault)."
      operationId: PGCustomerFetchInstrument
      parameters:
      - description: API version to be used. Format is in YYYY-MM-DD.
        example: 2026-01-01
        explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          default: 2026-01-01
          description: API version to be used.
          type: string
        style: simple
        x-ignore: true
      - description: Request ID for the API call. Can be used to resolve tech issues.
          Communicate this in your tech related queries to Cashfree.
        example: 4dfb9780-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          type: string
        style: simple
      - description: "The customer ID provided by the merchant during the [Create\
          \ Order API](https://www.cashfree.com/docs/api-reference/payments/latest/orders/create)\
          \ call, used to save cards for the customer."
        example: your-customer-id
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          An idempotency key is a unique identifier you include with your API call.
          If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
        example: 47bf8872-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          format: UUID
          type: string
        style: simple
      - description: The instrument_id of the saved instrument which needs to be queried.
        example: some-instrument-id
        explode: false
        in: path
        name: instrument_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                fetch_all_saved_cards_example:
                  $ref: "#/components/examples/fetch_all_saved_cards_example"
              schema:
                $ref: "#/components/schemas/InstrumentEntity"
          description: Saved card instrument object.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
          description: Bad request error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationError"
          description: Authentication Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError404"
          description: Resource Not found.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError409"
          description: Resource already present.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdempotencyError"
          description: Idempotency error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
          description: Rate Limit Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError502"
          description: Bank related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      summary: Fetch Specific Saved Card Instrument
      tags:
      - Token Vault
  /customers/{customer_id}/instruments/{instrument_id}/cryptogram:
    get:
      deprecated: false
      description: "Use this API to retrieve the token and cryptogram for a specific\
        \ saved card stored in Cashfree's [Token Vault](https://www.cashfree.com/docs/payments/features/token-vault). "
      operationId: PGCustomerInstrumentsFetchCryptogram
      parameters:
      - description: API version to be used. Format is in YYYY-MM-DD.
        example: 2026-01-01
        explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          default: 2026-01-01
          description: API version to be used.
          type: string
        style: simple
        x-ignore: true
      - description: Request ID for the API call. Can be used to resolve tech issues.
          Communicate this in your tech related queries to Cashfree.
        example: 4dfb9780-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          type: string
        style: simple
      - description: "The customer ID provided by the merchant during the [Create\
          \ Order API](https://www.cashfree.com/docs/api-reference/payments/latest/orders/create)\
          \ call, used to save cards for the customer."
        example: your-customer-id
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          An idempotency key is a unique identifier you include with your API call.
          If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
        example: 47bf8872-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          format: UUID
          type: string
        style: simple
      - description: Identifier for the specific card to fetch its details.
        example: some-instrument-id
        explode: false
        in: path
        name: instrument_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CryptogramEntity"
          description: Cryptogram object for a saved card.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
          description: Bad request error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationError"
          description: Authentication Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError404"
          description: Resource Not found.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError409"
          description: Resource already present.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdempotencyError"
          description: Idempotency error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
          description: Rate Limit Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError502"
          description: Bank related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      summary: Fetch Cryptogram for a Saved Card Instrument
      tags:
      - Token Vault
  /eligibility/cardlessemi:
    post:
      deprecated: false
      description: Use this API to get eligible Cardless EMI Payment Methods available
        for a customer on an order basis their phone number.
      operationId: PGEligibilityFetchCardlessEMI
      parameters:
      - description: API version to be used. Format is in YYYY-MM-DD.
        example: 2026-01-01
        explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          default: 2026-01-01
          description: API version to be used.
          type: string
        style: simple
        x-ignore: true
      - description: Request ID for the API call. Can be used to resolve tech issues.
          Communicate this in your tech related queries to Cashfree.
        example: 4dfb9780-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          type: string
        style: simple
      - description: |
          An idempotency key is a unique identifier you include with your API call.
          If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
        example: 47bf8872-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          format: UUID
          type: string
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/EligibilityFetchCardlessEMIRequest"
      responses:
        "200":
          content:
            application/json:
              example:
              - eligibility: true
                entity_type: cardlessemi
                entity_value: idfc
                entity_details:
                  payment_method: idfc
                  emi_plans:
                  - tenure: 1
                    interest_rate: 10
                    currency: INR
                    emi: 400
                    total_interest: 10
                    total_amount: 40
              schema:
                items:
                  $ref: "#/components/schemas/EligibilityCardlessEMIEntity"
                type: array
          description: OK
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
          description: Bad request error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationError"
          description: Authentication Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError404"
          description: Resource Not found.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError409"
          description: Resource already present.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdempotencyError"
          description: Idempotency error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
          description: Rate Limit Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError502"
          description: Bank related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      summary: Get Eligible Cardless EMI Payment Methods for a customer on an order
      tags:
      - Eligibility
  /eligibility/offers:
    post:
      deprecated: false
      description: Use this API to get eligible offers for an order_id or order amount.
      operationId: PGEligibilityFetchOffers
      parameters:
      - description: API version to be used. Format is in YYYY-MM-DD.
        example: 2026-01-01
        explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          default: 2026-01-01
          description: API version to be used.
          type: string
        style: simple
        x-ignore: true
      - description: Request ID for the API call. Can be used to resolve tech issues.
          Communicate this in your tech related queries to Cashfree.
        example: 4dfb9780-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          type: string
        style: simple
      - description: |
          An idempotency key is a unique identifier you include with your API call.
          If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
        example: 47bf8872-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          format: UUID
          type: string
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/EligibilityFetchOffersRequest"
      responses:
        "200":
          content:
            application/json:
              examples:
                offer_entity_example:
                  $ref: "#/components/examples/offer_entity_example"
              schema:
                items:
                  $ref: "#/components/schemas/EligibilityOfferEntity"
                type: array
          description: OK
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
          description: Bad request error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationError"
          description: Authentication Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError404"
          description: Resource Not found.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError409"
          description: Resource already present.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdempotencyError"
          description: Idempotency error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
          description: Rate Limit Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      summary: Get Eligible Offers for an Order
      tags:
      - Eligibility
  /eligibility/paylater:
    post:
      deprecated: false
      description: Use this API to get eligible Paylater Payment Methods for a customer
        on an order.
      operationId: PGEligibilityFetchPaylater
      parameters:
      - description: API version to be used. Format is in YYYY-MM-DD.
        example: 2026-01-01
        explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          default: 2026-01-01
          description: API version to be used.
          type: string
        style: simple
        x-ignore: true
      - description: Request ID for the API call. Can be used to resolve tech issues.
          Communicate this in your tech related queries to Cashfree.
        example: 4dfb9780-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          type: string
        style: simple
      - description: |
          An idempotency key is a unique identifier you include with your API call.
          If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
        example: 47bf8872-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          format: UUID
          type: string
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/EligibilityFetchPaylaterRequest"
      responses:
        "200":
          content:
            application/json:
              example:
              - eligibility: true
                entity_type: paylater
                entity_value: olapostpaid
                entity_details:
                  payment_method: olapostpaid
              schema:
                items:
                  $ref: "#/components/schemas/EligibilityPaylaterEntity"
                type: array
          description: OK
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
          description: Bad request error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationError"
          description: Authentication Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError404"
          description: Resource Not found.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError409"
          description: Resource already present.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdempotencyError"
          description: Idempotency error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
          description: Rate Limit Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError502"
          description: Bank related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      summary: Get Eligible Paylater for a customer on an order
      tags:
      - Eligibility
  /eligibility/payment_methods:
    post:
      deprecated: false
      description: Use this API to get eligible Payment Methods.
      operationId: PGEligibilityFetchPaymentMethods
      parameters:
      - description: API version to be used. Format is in YYYY-MM-DD.
        example: 2026-01-01
        explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          default: 2026-01-01
          description: API version to be used.
          type: string
        style: simple
        x-ignore: true
      - description: Request ID for the API call. Can be used to resolve tech issues.
          Communicate this in your tech related queries to Cashfree.
        example: 4dfb9780-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          type: string
        style: simple
      - description: |
          An idempotency key is a unique identifier you include with your API call.
          If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
        example: 47bf8872-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          format: UUID
          type: string
        style: simple
      - description: The type of device on which the payment is initiated.
        example: mobile
        explode: false
        in: header
        name: x-client-device
        required: false
        schema:
          type: string
        style: simple
      - description: The operating system of the client device used to make the payment.
        example: android
        explode: false
        in: header
        name: x-client-os
        required: false
        schema:
          type: string
        style: simple
      - description: Indicates how the payment experience is rendered to the user.
          - mweb – Payment rendered in a mobile browser (browser on a mobile device)
          - webview – Payment rendered inside an in-app browser (WebView within a
          merchant app) - native – Payment rendered natively within the merchant’s
          mobile app using SDKs.
        example: mweb
        explode: false
        in: header
        name: x-client-rendering-type
        required: false
        schema:
          type: string
        style: simple
      - description: The browser used to initiate the payment.
        example: safari
        explode: false
        in: header
        name: x-client-browser
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/EligibilityFetchPaymentMethodsRequest"
      responses:
        "200":
          content:
            application/json:
              example:
              - eligibility: true
                entity_type: payment_methods
                entity_value: netbanking
                entity_details:
                  payment_method_details:
                  - nick: motak_kahindra_bank
                    display: Motak Kahindra Bank
                    eligibility: true
                    code: 3032
                  - nick: bank_of_india
                    display: Bank Of India
                    eligibility: true
                    code: 3031
              schema:
                items:
                  $ref: "#/components/schemas/EligibilityPaymentMethodsEntity"
                type: array
          description: OK
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
          description: Bad request error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationError"
          description: Authentication Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError404"
          description: Resource Not found.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError409"
          description: Resource already present.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdempotencyError"
          description: Idempotency error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
          description: Rate Limit Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError502"
          description: Bank related Error.
          headers:
            x-api-version:
              $ref: "#/components/headers/x-api-version"
            x-ratelimit-limit:
              $ref: "#/components/headers/x-ratelimit-limit"
            x-ratelimit-remaining:
              $ref: "#/components/headers/x-ratelimit-remaining"
            x-ratelimit-retry:
              $ref: "#/components/headers/x-ratelimit-retry"
            x-ratelimit-type:
              $ref: "#/components/headers/x-ratelimit-type"
            x-request-id:
              $ref: "#/components/headers/x-request-id"
            x-idempotency-key:
              $ref: "#/components/headers/x-idempotency-key"
            x-idempotency-replayed:
              $ref: "#/components/headers/x-idempotency-replayed"
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      summary: Get eligible Payment Methods
      tags:
      - Eligibility
  /links:
    post:
      deprecated: false
      description: Use this API to create a new payment link. The created payment
        link url will be available in the API response parameter link_url.
      operationId: PGCreateLink
      parameters:
      - description: API version to be used. Format is in YYYY-MM-DD.
        example: 2026-01-01
        explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          default: 2026-01-01
          description: API version to be used.
          type: string
        style: simple
        x-ignore: true
      - description: Request ID for the API call. Can be used to resolve tech issues.
          Communicate this in your tech related queries to Cashfree.
        example: 4dfb9780-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          type: string
        style: simple
      - description: |
          An idempotency key is a unique identifier you include with your API call.
          If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
        example: 47bf8872-46fe-11ee-be56-0242ac120002
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
[...]
